<?xml version='1.0'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' package='test' >
    <uses-sdk android:targetSdkVersion="29" />
    <application
        android:label='Birk test' android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name='test.MainActivity'>
             <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
